body{
    margin: 10, 10, 10, 10;
}

.img1 {
    width: 1600px;
    height: 403px;
    border-radius: 0px 0px 25px 25px;

    margin:0;
    padding:0;
    border:0;
}

nav button{
    display: inline-block;
    width: 440px;
    height: 88px;
    flex-shrink: 0;

    border-radius: 25px;
    background: linear-gradient(90deg, #FBCF9E 0%, #FFB7B0 100%);


}

button{
    display:inline-block;
    width: 228px;
    height: 47px;
    flex-shrink: 0;
    justify-content: space-between;

    color: #250300;

    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-inline: 40px;
}
section{
    display: inline-block;
}
section h2{
    color: #250300;

    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.68px;
}

section h4{
    width: 813px;

    color: #150200;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.4px;
}

.img2 {
    float:right;
    border-radius: 25px;
    border: 3px solid #250300;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
p{
    width: 304px;
    height: 71px;

    color: #150200;

    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}